/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

/* ----- General Styling -----*/
body {
    background-color: #0D0D0D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "IMB Plex Mono", monospace;
    color: #C2F216;
}

p,
a,
ul li,
label {
    font-family: "IBM Plex Sans", sans-serif;
    color: #87a810;
}

.active {
    text-decoration: underline #87a810;
    text-underline-offset: 5px;
}

.section-spacer {
    margin-top: 6rem;
}

/* ----- Bootstrap Overrides ---- */

.btn {
    background-color: #212529;
    color: #C2F216;
    border-color: #212529;
    margin: 1rem;
    outline-color: #0D0D0D;
}

.btn:hover {
    background-color: #C2F216;
    color: #212529;
    border-color: #C2F216;
}

.btn:active {
    background-color: #C2F216;
    color: #212529;
    border-color: #C2F216;
    box-shadow: none;
}

.btn:focus {
    background-color: #C2F216;
    color: #212529;
    border-color: #C2F216;
    box-shadow: none;
}

.btn:focus-visible, .btn:focus-within, input:focus-visible {
    background-color: #C2F216;
    color: #212529;
    border-color: #C2F216;
    outline: none;
}

/* --- When all button states active --- */
.btn-check:active + .btn:focus,
.btn-check:checked + .btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus {
    box-shadow: none;
}

/* ----- Header Styling -----*/
.navbar-brand {
    font-size: 1.9rem;
}

.nav-link,
.navbar-brand {
    color: #C2F216;
    font-family: "IMB Plex Mono", monospace;
    letter-spacing: 1px;
}

/* ----- Footer ----- */
footer {
    background: #212529;
    padding: 2rem;
    bottom: 0;
    position: static;
    width: 100%;
}

#footer-icons li {
    font-size: 2rem;
    padding-right: 20px;
    list-style-type: none;
    display: inline-block;
}

.footer-spacer {
    margin-bottom: 12rem;
}

/* ----- Content Styling ----- */
.title-spacer {
    padding-top: 5rem;
}

.row p {
    padding: 2rem 2rem;
}

img {
    border: 1px solid #87a810;
    border-radius: 30%;
    background-color: #212529;
}

/* ----- Password Generator ----- */

#generated-password {
    color: #C2F216;
    padding-top: 1rem;
    font-size: 1.2rem;
}

/* ----- Email Checker ----- */

#email-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#email-form:first-child {
    flex: 0 1 100%;
}

#email-form>button,
#email-form>input {
    flex: 1 0 50%;
}

#breachTable td, #breachTable th {
    color: #C2F216;
}

#email-form input {
    background-color: #212529;
    border: 1px solid #87a810;
    text-align: center;
    color: #C2F216;
    font-family: "IBM Plex Sans", sans-serif ;
}

/* ----- About Page ----- */

.about {
    margin-left: 12rem;
    margin-right: 12rem;
}

/* ----- Media Queries ----- */
@media (max-width: 992px) {
    body{
        font-size: 14px;
    }
    .about {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .section-spacer {
        margin-top: 1rem;
    }
    .footer-spacer {
        margin-bottom: 4rem;
    }

    .row p {
        padding: 1rem 1rem;
    }

    img {
        width: 120px;
        height: 120px;
    }
}

/* ----- Contact Form ----- */

#contact-form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #87a810;
}